name: CI

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Travelling App Project
        uses: actions/checkout@v2

      - name: Code Analysis and Test
        run: ./gradlew check

      - name: Build application
        run: ./gradlew build
